<a href="https://colab.research.google.com/github/chynews98/Crawling-python/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 문법



##1. 변수

변수는 '값'을 저장하는 상자라고 생각하면 됩니다.
상자에 '값'을 넣어 놓고 언제든지 필요할 때 꺼내쓰기 위해 변수를 이용합니다.



위에서 언급한 값은 정수,실수,문자 등 무엇이든지 될 수 있습니다.

변수의 이름은 영어로 시작하도록 합니다. 
ex) a, b, res 

* 숫자로 시작하면 안됩니다.

###아래 코드에 커서를 두고 Ctrl + Enter를 누르면 코드 실행

정수(int) - 음의 정수, 0 , 양의 정수

In [0]:
a = 1

실수(float) - 소수점이 포함된 값

In [0]:
b = 3.1

문자열(str)

In [0]:
name = '민수'



---



'='(등호)은 수학에서 '동일하다'를 뜻하지만 프로그래밍에서는 대입(집어넣다)을 의미합니다.

In [0]:
a = 1
a = 3

In [0]:
print(a)

In [0]:
b = 10
b = 12.4

In [0]:
print(b)

a와 b는 변수(상자)이며 정수를 넣어도 되고 실수를 넣어도 되고 전혀 상관없습니다.



---
숫자끼리 연산 가능

In [0]:
print(1+3)

4

In [0]:
print(1.4+2.1)

3.5

변수끼리 연산 가능

In [0]:
a = 3
b = 5

print(a+b)

8

In [0]:
c = 3.14
d = 5.29

print(c+d)

8.43

연산 후 대입 가능

항상 등호(=)가 있을 때에는 등호 오른쪽의 연산을 마치고 그 결과를 왼쪽의 변수에 대입해줍니다.


그래서 등호 왼쪽에는 무엇인가를 저장하는 변수(상자)만 올 수 있으며 숫자, 식이 올 수 없습니다.

In [0]:
e = a + b 
print(e)

8

---

##2. 사칙 연산

덧셈

In [0]:
a = 3 
b = 10

print(a+b)

13

뺄셈

곱셈

나눗셈

나눗셈의 몫

나눗셈의 나머지

제곱

----

##3. 문자열 연산


str(문자열)도 몇 가지 연산 기호를 이용하여 연산이 가능합니다.

문자열 더하기

In [0]:
print('성준' + '이름')

성준이름

In [0]:
a = '성준'
b = '이름'

print(a+b)

성준이름

'+' 앞 뒤가 숫자이면 둘을 더하지만

앞 뒤가 문자열이면 둘을 이어줍니다.

하지만 하나는 숫자, 하나는 문자열이면 오류가 생깁니다.

In [0]:
print(3+'성준')

TypeError: ignored

문자열 곱하기

In [0]:
print('성준' * 3)

성준성준성준

In [0]:
a = '성준'

print(a * 10)

성준성준성준성준성준성준성준성준성준성준

####Q. '탈잉'이 10번 출력되고 '파이썬'이 5번 출력되게 하세요.

<출력 결과>
탈잉탈잉탈잉탈잉탈잉탈잉탈잉탈잉탈잉탈잉파이썬파이썬파이썬파이썬파이썬

---

##4-1. 자료형

* int (정수형)
* float (실수형)
* str (문자열)

In [0]:
a = 10

print(type(a))

<class 'int'>

In [0]:
b = 10.4

print(type(b))

<class 'float'>

In [0]:
c = '성준'

print(type(c))

<class 'str'>

##4-2. 자료형 변환

In [0]:
a = 10.5

a = int(a)

print(a)
print(type(a))

10
<class 'int'>

####Q. 정수형 변수 a와 b를 각각 실수형으로 변환하고 더하세요


---

##5. 문자열 가지고 놀기

len() - 문자열의 길이를 구해줍니다.

In [0]:
word = '파이썬은 재밌다'

---

문자열 인덱스(순서)

인덱스 : 순번

인덱스는 0부터 시작 (첫번째 글자의 인덱스는 0)

In [0]:
word = '파이썬은 재밌다'

print(word[0])

파

####Q. 마지막 순번의 글자를 인덱스를 이용하여 구하세요

In [0]:
word = '파이썬은 재밌다'

인덱스는 음수가 될 수도 있습니다.

In [0]:
print(word[-1])

다

---

문자열 슬라이스

문자열을 원하는 부분만큼 자르는 것을 의미합니다.

변수명[시작순번:원하는 순번+1] 을 꼭 지켜야 합니다

In [0]:
a = '이불 밖은 위험해'

print(a[0:2])

이불

####Q. '위험해' 만 출력해봅시다.

In [0]:
a = '이불 밖은 위험해'

슬라이싱 할때 인덱스를 생략해봅니다.

시작 인덱스 생략시 -> 0번째 부터 슬라이싱
끝 인덱스 생략시 -> 끝까지 슬라이싱

In [0]:
print(a[:2])
print(a[6:])

이불
위험해

---

## 6. 기본 자료 구조

* 리스트
* 딕셔너리

리스트는 변수들의 모음이라고 생각하면 됩니다.

리스트의 특징
1. 순서(인덱스)가 존재
2. 값 수정 가능
3. 인덱스로 읽기 가능

####a-1. 리스트 인덱스

In [0]:
a = [10, 20, 30]

print(type(a))

<class 'list'>

In [0]:
name = ['조성준','아이린','강동원']

print(name[0])

조성준

Q. 리스트 인덱스를 이용하여 아이린만 출력해봅시다

####a-2. 리스트 내부 리스트, 문자열의 인덱스

리스트와 문자열은 성질이 매우 비슷합니다.
둘 다 인덱싱, 슬라이스가 가능하다는 공통점이 있습니다.

In [0]:
a = [10,20, [2, 'C언어', '파이썬']]


# 파이썬만 출력하세요

'파이썬'

Q. 'C언어'를 출력하세요.

Q. 파이썬의 '썬'만 출력하세요

####b. 리스트 슬라이스

리스트명[시작인덱스:원하는인덱스+1]

In [0]:
a = [1,2,3,4,5,6,7,8,9]

# 0번부터 1번 포함 슬라이스 하려면?
a[0:2]

[1, 2]

In [0]:
# 시작인덱스가 0이라면 생략 가능

a[:2]

[1, 2]

In [0]:
# 마지막 인덱스까지 하려한다면 생략가능

a[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q.2번부터 4번 포함 슬라이스 하려면?

Q. 4번부터 끝까지 슬라이스하려면?

####c. 리스트 슬라이스 증감폭

리스트명[  :  :  ]

리스트명[시작인덱스:원하는인덱스+1:증감폭]

In [0]:
a = [1,2,3,4,5,6,7,8,9]

# 전체 다 가져오기 (증감폭 = 1)

print(a[::1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
print(a[::])  # 생략 가능

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
# 한 개씩 건너뛰기 (증감폭 = 2)

print(a[::2])

[1, 3, 5, 7, 9]

Q. 짝수만 슬라이스 해봅시다

Q. 3의 배수만 슬라이스 해봅시다.

#### d. 리스트 길이 구하기 (len)

In [0]:
a = [1,2,3,4,5,6,7,8,9]

len(a)

9

Q. a 리스트를 2의 배수만 슬라이스 한 후 그 결과의 길이를 재보세요.

#### e. 리스트의 값 추가, 제거

이미 존재하는 리스트에 중간에 값을 추가하거나 제거합니다.

##### 추가 

* 사용법:
  리스트명.append(값)

* 결과:
  값이 마지막 인덱스로 들어감.

In [0]:
a = ['딸기', '레몬', '오렌지']

a.append('두리안')
print(a)

['딸기', '레몬', '오렌지', '두리안']

##### 제거

* 사용법:
  리스트명.remove(값)

* 결과:
  선행 인덱스의 값을 제거

In [0]:
a.remove('레몬')

print(a)

['딸기', '오렌지', '두리안']

---

####딕셔너리(Dictionary)

* 형식 :
  딕셔너리이름 = {'key값1':'value값1', 'key값2':'value값2', 'key값3':'value값3', ...}

* 딕셔너리의 특징


            1.key값과 value값의 쌍 형태

            2.인덱스(순번)을 가지지 않음

            3.인덱스 대신 key값으로 value를 불러옴

            4.수정 가능

In [0]:
eng_dic = {'orange':'오렌지' , 'strawberry':'딸기', 'apple':'사과'}

####a-1. 딕셔너리 값 추가

In [0]:
eng_dic['pineapple'] = '파인애플'

print(eng_dic)

{'orange': '오렌지', 'strawberry': '딸기', 'apple': '사과', 'pineapple': '파인애플'}

####a-2. 딕셔너리 값 제거

In [0]:
del eng_dic['orange'] 

print(eng_dic)

{'strawberry': '딸기', 'apple': '사과', 'pineapple': '파인애플'}

####b. key값으로 value 값 가져오기

value값으로는 key값을 가져올 수 없습니다.

그 말은 key값은 서로 중복되면 안되지만 value값은 중복되도 된다는 말입니다.

In [0]:
print(eng_dic['orange'])

오렌지

Q. 'apple'의 value값을 출력해봅시다

Q. 본인의 이름, 전화번호, 키를 이용하여 딕셔너리를 만들어보세요

#### c. value값으로 리스트 넣기

In [0]:
a = [ '철수', '민수', '민지' ]
b = [ '서울', '부산', '대전' ]
c = [ 1, 2, 3, 4 ]
contact = { '이름' : a, '지역' : b, '번호' : c }

In [0]:
print(contact['이름'])
print(contact['지역'])
print(contact['번호'])

['철수', '민수', '민지']
['서울', '부산', '대전']
[1, 2, 3, 4]

#### d. keys() 함수

key 값만 모아서 리스트로 만들어줍니다.

In [0]:
a = {'이름':'Cho', '지역':'서울', 'phone': '010'}

print(a.keys())

dict_keys(['이름', '지역', 'phone'])

#### e. values() 함수

value 값만 모아서 리스트로 만들어줍니다.

In [0]:
print(a.values())

dict_values(['Cho', '서울', '010'])

##7. 제어문(if)

들여쓰기 중요!

<pre>
만약 ~라면 ~해라

그게 아니라 ~라면 ~해라

아니면 ~해라

In [0]:
x=3
y=5

if x<y:
  print('x는 y보다 작습니다')
else:
  print('x는 y보다 크거나 같습니다')

x는 y보다 작습니다

In [0]:
# 같니?

x=3
y=3

if x<y:
  print('x는 y보다 작습니다')
elif x==y:                      # 같니?
  print('x는 y와 같습니다')
else:
  print('x는 y보다 크거나 같습니다')

x는 y와 같습니다

In [0]:
# 암묵적인 수의 범위

money = 1000

if money>10000:
  print('음식점을 간다')
elif money > 5000:   # 10000보다는 작고 5000보다 크다
  print('떡볶이를 산다')
else:
  print('빵을 산다')

빵을 산다

In [0]:
# 문자열과 제어문

word = '딸기'

if word == '레몬':
  print('너무 시다')
elif word == '딸기':
  print('맛있다')

맛있다

In [0]:
# 리스트와 제어문

bag = ['wallet', 'cellphone', 'notebook']

if 'cellphone' in bag:
  print('전화를 한다.')
else:
  print('전화를 빌린다.')

In [0]:
# 변수 대입과 제어문

score = 80

if score >= 70:
  my_score = 'pass'
else:
  my_score = 'fail'

print(score)

80

In [0]:
# and 와 or

bread = '팥빵'
drink = '물'

if bread == '팥빵' and drink == '보리차':
  print('안 먹어')
elif bread == '팥빵' and drink == '물':
  print('먹을래')

먹을래

In [0]:
# and 와 or

bread = '고로케'
drink = '보리차'

if bread == '고로케' or drink == '보리차':
  print('안 먹어')
else:
  print('먹을래')

안 먹어